apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: {{ .Role }}
  name: {{ .Name }}
spec:
  config:
    ignition:
      version: 3.2.0
    systemd:
      units:
        - name: fstrim.timer
          mask: true
        - name: okdctl-fstrim.service
          contents: |
            [Unit]
            Description=Trim discardable blocks on FCOS mountpoints (fstrim.timer workaround for coreos/fedora-coreos-tracker#468)
            Documentation=https://github.com/coreos/fedora-coreos-tracker/issues/468
            [Service]
            Type=oneshot
            ExecStart=/usr/sbin/fstrim --verbose /
            ExecStart=-/usr/sbin/fstrim --verbose /boot
            ExecStart=-/usr/sbin/fstrim --verbose /boot/efi
        - name: okdctl-fstrim.timer
          enabled: true
          contents: |
            [Unit]
            Description=Periodically trim discardable blocks on FCOS mountpoints
            [Timer]
            OnCalendar=weekly
            AccuracySec=1h
            RandomizedDelaySec=3600
            Persistent=true
            [Install]
            WantedBy=timers.target
